<%- include("menu") -%>
<script>
    document.querySelector("title").innerHTML = "Twitter | Followers Following"
</script>
    <div class="col-lg-6 col-md-6 col-sm-8 col-12 px-0 border">
        <div class="inner-main home">
            <div class="blur-ui p-3 pb-0 border">
                <div class="d-flex align-items-center my-2">
                    <a href="javascript: history.go(-1)" class="fa-solid fa-arrow-left-long text-dark d-inline-block me-3 "></a>
                    <div class="d-flex">

                        <img src="<%= userInfo.user_image %>" alt="" class="profile-size me-2">
                        <div>
                            <h5 class="text-black mb-0">
                                <%= userInfo.name %>
                            </h5>
                            <h6 class="text-gray">  
                                @<%= userInfo.user_name %>
                            </h6>
                        </div>

                    </div>
                </div>

                <ul class="nav nav-tabs">
                    <li class="nav-item w-50 text-center all-center">
                        <a class="nav-link w-100 fw-600 active" data-bs-toggle="tab" href="#Followers">
                            <span>
                                Followers
                            </span>

                        </a>
                    </li>
                    <li class="nav-item w-50 text-center all-center">
                        <a class="nav-link w-100 fw-600 " data-bs-toggle="tab" href="#Following">
                            <span>
                                Following
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="all-data">
                <div class="tab-content p-3">
                    <div id="Followers" class="tab-pane active">
                        <div class="tweet-container all-center flex-column">
                            <% followers.forEach(sql=>{%>
                                <div class="my-2 d-flex justify-content-between align-items-center w-100">
                                    <div class="d-flex pointer" onclick="getTargetProfile(this)" id="<%=sql.id%>">
                                        <img src="<%=sql.user_image%>" alt="" class="profile-size me-2 border">
                                        <div class="info">
                                            <h6>
                                                <%=sql.name%>
                                            </h6>
                                            <span class="text-gray">@<%=sql.user_name%></span>
                                            <div class="mt-1">

                                            </div>
                                        </div>

                                    </div>
                                    <div id="f<%=sql.id%>" onclick="follow('<%=sql.id%>','2')" class="followButton btn btn-light rounded-pill px-3 border-dark">Unfollow</div>

                                </div>
                                <%});%>
                        </div>
                    </div>
                    <div id="Following" class="tab-pane">
                        <div class="tweet-container all-center flex-column ">
                            <% following.forEach(sql=>{%>
                                <div class="my-2 d-flex justify-content-between align-items-center w-100">
                                    <div class="d-flex pointer" onclick="getTargetProfile(this)" id="<%=sql.id%>">
                                        <img src="<%=sql.user_image%>" alt="" class="profile-size me-2 border">
                                        <div class="info">
                                            <h6>
                                                <%=sql.name%>
                                            </h6>
                                            <span class="text-gray">@<%=sql.user_name%></span>

                                            <div class="mt-1">

                                            </div>

                                        </div>

                                    </div>
                                    <div id="f<%=sql.id%>" onclick="follow('<%=sql.id%>','2')" 
                                        class="followButton btn btn-light rounded-pill px-3 border-dark">Unfollow</div>

                                </div>
                                <%});%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include("search") -%>

        <script>
            async function getTargetProfile(e) {
                const save_req = await fetch(`/profile/user/search/?id=${e.id}`);
                const data = await save_req.json();
                location.href = `/profile/user/${e.id}`;
            }

            // follow click

            async function follow(follower_id, flag) {
                event.stopPropagation();
                if (flag == 0) {
                    await fetch(`/addfollow?followerId=${follower_id}&flag=${flag}`);
                    document.getElementById(`f${follower_id}`).innerHTML = "Unfollow";
                    document.getElementById(`f${follower_id}`).setAttribute("onclick", `follow(${follower_id},1)`);
                    document.getElementById(`f${follower_id}`).style.background = "white";
                    document.getElementById(`f${follower_id}`).style.color = "black";

                } else {
               
                    Swal.fire({
                        title: 'Do you want to Unfollow?',
                        text: "",
                        position: "center",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, Unfollow!'
                    }).then(async (result) => {
                        if (result.isConfirmed) {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'top',
                                showConfirmButton: false,
                                timer: 2000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                            })

                            Toast.fire({
                                icon: 'success',
                                title: 'Unfollow successfully',

                            })

                            await fetch(`/addfollow?followerId=${follower_id}&flag=${flag}`);
                            document.getElementById(`f${follower_id}`).innerHTML = "Follow";
                            document.getElementById(`f${follower_id}`).setAttribute("onclick", `follow(${follower_id},0)`);
                            document.getElementById(`f${follower_id}`).style.background = "black";
                            document.getElementById(`f${follower_id}`).style.color = "white";

                        }
                    })

                }

            }


        </script>