<%- include("menu") -%>

    <%- include("add_comment") -%>

        <!-- main panel  -->
        <div class="col-lg-6 col-md-6 col-sm-8 col-12 px-0 border">
            <div class="inner-main commentInfo ">
                <div class="blur-ui p-3">
                    <div class="d-flex align-items-center my-2">
                        <a href="javascript: history.go(-1)"
                            class="fa-solid fa-arrow-left-long text-dark d-inline-block me-3 "></a>
                        <h5 class="text-black d-inline-block mb-0">Tweet</h5>
                    </div>

                </div>

                <div class="tab-content">
                    <div id="for-you" class="tab-pane active">
                        <div class="tweet-container all-center">
                            <div class="tweet w-100 p-3 row pt-4 border-bottom border-top position-relative">
                                <div class="col-1 p-0">
                                    <img src="<%= tweet_data.user_image %>" alt="" class="profile-size me-2 border ">
                                </div>
                                <div class="col-10 px-4 position-relative">
                                    <div class="d-flex align-items-center user-info">
                                        <a href="/profile/user/<%= tweet_data.user_id%>"
                                            class="text-black fs-16 me-1 fw-600 ">
                                            <%= tweet_data.name %>
                                        </a>
                                    </div>
                                    <span class="fs-16 text-gray me-1 ">
                                        @<%= tweet_data.user_name %>
                                    </span>

                                </div>
                                <div class="col-1 ">

                                </div>

                                <div class="col-12 py-3 p-0">
                                    <div class="tweet-content">
                                        <p class="text-black fs-16 fw-300 word-wrap" id="curTweet">

                                            <script>
                                                let current = `<%= tweet_data.tweet %>`
                                                let hashTag = current.split(" ")
                                                let tweetTemp = current
                                                for (let curHashtag of hashTag) {
                                                    if (curHashtag.startsWith("#") && !curHashtag.substring(1).includes("#"))
                                                        tweetTemp = tweetTemp.replace(curHashtag, `<a href="/trend?srchval=${curHashtag.substring(1)}" class="text-blue fw-400">${curHashtag}</a>`)
                                                }
                                                document.querySelector("#curTweet").innerHTML = tweetTemp
                                            </script>

                                        </p>
                                    </div>
                                    <% if(tweet_data.media_type.includes("image") ){ %>
                                        <div class="tweet-img-container">
                                            <img src="<%= tweet_data.media_url %>" alt="" class="w-100">
                                        </div>
                                        <% }else if(tweet_data.media_type.includes("video") ){ %>
                                            <div class="tweet-video-container">
                                                <video controls loop autoplay>
                                                    <source src="<%= tweet_data.media_url %>" type="video/mp4">
                                                </video>
                                            </div>
                                            <% } %>
                                                <div class="text-gray py-2 border-bottom" title="">
                                                    <%= post_date[0] %>
                                                </div>
                                                <div class="text-gray py-2 border-bottom">
                                                    <p class="d-inline-block me-3 mb-0"><span class="text-dark fw-600">
                                                            <%= tweet_data.tweet_retweets %>
                                                        </span> retweets</p>
                                                    <p class="d-inline-block mb-0"><span class="text-dark fw-600">
                                                            <%= tweet_data.tweet_likes %>
                                                        </span> likes</p>

                                                </div>

                                                <div class="tweet-reactions-container py-2 border-bottom">
                                                    <ul class="list-unstyled row my-0">
                                                        <li class="col">
                                                            <a href="" class="comment clickComment"
                                                                data-bs-toggle="modal" data-bs-target="#commentModal"
                                                                data-id="<%= tweet_data.id %>" id="clickComment">
                                                                <i class="fa-regular fa-comment"></i>
                                                            </a>
                                                        </li>
                                                        <li class="col">
                                                            <a class="retweet">
                                                                <i class="fa-solid fa-retweet"
                                                                    onclick="retweetpost(event,this)"
                                                                    id="k<%= tweet_data.id %>"></i>
                                                                <span id="retweet<%= tweet_data.id %>">
                                                                    <%= tweet_data.tweet_retweets %>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="col">
                                                            <a class="like">
                                                                <i class="fa-regular fa-heart"
                                                                    onclick="likepost(event,this)"
                                                                    id="<%= tweet_data.id %>"></i>
                                                                <span id="like<%= tweet_data.id %>">
                                                                    <%= tweet_data.tweet_likes %>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="col">
                                                            <a href="" class="share p-2" data-bs-toggle="dropdown"
                                                                aria-expanded="false" onclick="stopProp(event)">
                                                                <i class="fa-solid fa-arrow-up-from-bracket"></i>

                                                            </a>
                                                            <ul class="dropdown-menu p-0">
                                                                <li class="d-flex">
                                                                    <a class="dropdown-item text-dark"
                                                                        onclick="copyContent(event,`<%= tweet_data.id %>`)">
                                                                        <i class="fa-regular fa-clipboard me-2"></i>

                                                                        Click to copy link

                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <!-- comments  -->
                                                <div class="comments py-3" id="commentSection">
                                                    <% if(comments.length <=0){ %>
                                                        <span class="d-inline-block mt-2 text-secondary">No Comments
                                                            yet.</span>
                                                        <% }else{ %>
                                                            <% comments.forEach((c,i)=>{ %>
                                                                <div
                                                                    class="comment row border py-2 justify-content-start align-items-start">
                                                                    <div class="col-auto px-1">
                                                                        <img src="<%= c.user_image %>" alt=""
                                                                            class="profile-size  border ">
                                                                    </div>
                                                                    <div class="col">
                                                                        <div
                                                                            class="d-flex align-items-center user-info ">
                                                                            <a href="/profile/user/<%= c.user_id %>"
                                                                                class="text-black fs-16 me-1 fw-600 ">
                                                                                <%= c.name %>
                                                                            </a>
                                                                            <span class="fs-16 text-gray me-1 ">
                                                                                @<%= c.user_name %>
                                                                            </span>
                                                                            <i
                                                                                class="fa-solid fa-circle bottom-dots fs-16 text-gray me-1"></i>
                                                                            <span class="date fs-16 me-1 text-gray">
                                                                                <%= comment_at[i] %>
                                                                            </span>

                                                                        </div>
                                                                        <div class="sub-info">
                                                                            <p class="text-gray fs-16 fw-300 mb-0">
                                                                                replying to <span class="text-blue">
                                                                                    @<%= tweet_data.user_name %></span>
                                                                            </p>
                                                                            <!-- </a> -->
                                                                            <p class="coemment-i mb-0 word-wrap">
                                                                                <%= c.comment %>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <% }) } %>
                                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div id="following-home" class="tab-pane container">
                        Part2
                    </div> -->
                </div>
            </div>
        </div>

        <script>
            let linkModal = document.querySelector("#clickComment");
            linkModal.addEventListener("click", (e) => {
                let id = e.currentTarget.getAttribute("data-id");
                document.querySelector(".modal-body #tweetId").value = id;
                document.querySelector("#comment_area").value = "";
            })

            //copy to clipboard

            async function copyContent(e, text) {
                e.stopPropagation();

                let link = location.href.split('/')[0] + "//" + location.href.split('/')[2];
                let myData = `/tweet/tweet_details/${text}`
                const ToastCopy = Swal.mixin({
                    toast: true,
                    position: 'top',
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })
                try {
                    await navigator.clipboard.writeText(link + myData);



                    ToastCopy.fire({
                        icon: 'success',
                        title: 'Link copied successfully',

                    })
                } catch (err) {
                    console.error('Failed to copy: ', err);
                }
            }


            let form = document.querySelector('#addCommentForm')
            form.addEventListener('submit', async (e) => {
                e.preventDefault();
                if (document.querySelector("#comment_area").value == "") {
                    ToastBlank.fire({
                        icon: 'warning',
                        title: 'Please enter a comment',

                    })
                } else {

                    let data = await fetch(`/tweet/tweet_comment`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            tweetId: document.querySelector("#tweetId").value,
                            comment_text: document.querySelector("#comment_area").value
                        })
                    })
                    let ans = await data.json();

                    allComments = ans.all_comments;
                    allCommentsLen = ans.len;
                    allCommentAt = ans.comment_at;
                    var comment_section = document.querySelector("#commentSection");

                    if (allComments.length <= 0) {
                        comment_section.innerHTML = `<span class="d-inline-block mt-2 text-secondary">No Comments yet.</span>`;
                    }
                    else {
                        let comment_data = ""
                        for (let i = 0; i < allComments.length; i++) {
                            comment_data +=
                                `<div class="comment row border py-2">
                                                                    <div class="col-1">
                                                                        <img src="${allComments[i].user_image}" alt=""
                                                                            class="profile-size me-2 border">
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div
                                                                            class="d-flex align-items-center user-info">
                                                                            <a href="/profile/user/${allComments[i].user_id}" class="text-black fs-16 me-1 fw-600">
                                                                                ${allComments[i].name}
                                                                            </a>
                                                                            <span class="fs-16 text-gray me-1">
                                                                                @${allComments[i].user_name}
                                                                            </span>
                                                                            <i
                                                                                class="fa-solid fa-circle bottom-dots fs-16 text-gray me-1"></i>
                                                                            <span class="date fs-16 me-1 text-gray">
                                                                               ${allCommentAt[i]}
                                                                            </span>
                                                                        </div>
                                                                        <div class="sub-info">
                                                                            <p class="text-gray fs-16 fw-300 mb-0">
                                                                                replying to <span class="text-blue">
                                                                                    @<%= tweet_data.user_name %></span>
                                                                            </p>
                                                                            <!-- </a> -->
                                                                            <p class="coemment-i mb-0 word-wrap">
                                                                                ${allComments[i].comment}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-1">
                                                                        <a href="" class="text-dark"
                                                                            data-bs-toggle="dropdown"
                                                                            aria-expanded="false"> ••• </a>
                                                                        <ul class="dropdown-menu">
                                                                            <li class="d-flex">
                                                                                <a class="dropdown-item" href="#"><i
                                                                                        class="fa-solid fa-user-plus me-2"></i>
                                                                                    Follow
                                                                                    <span class="text-blue">@${allComments[i].user_name}
                                                                                             
                                                                                    </span>

                                                                                </a>
                                                                            </li>


                                                                            <li class="d-flex">
                                                                                <a class="dropdown-item" href="#"><i
                                                                                        class="fa-solid fa-user-minus me-2"></i>
                                                                                    Unfollow <span class="text-blue">@
                                                                                        ${allComments[i].user_name}</span>

                                                                                </a>
                                                                            </li>

                                                                            <li class="d-flex">
                                                                                <a class="dropdown-item" href="#"><i
                                                                                        class="fa-regular fa-eye me-2"></i>
                                                                                    Visit
                                                                                    profile <span class="text-blue">@${allComments[i].user_name}</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>`;
                        }

                        comment_section.innerHTML = comment_data;
                    }
                }

            })


            async function likepost(e, t_id) {

                e.stopPropagation()
                var tweet_id = t_id.id
                console.log("tweet id " + tweet_id.split(" "));
                    var tweet_id = tweet_id.split(" ");
                if (t_id.classList.value == 'fa-regular fa-heart') {
                    t_id.classList.value = 'fa-solid fa-heart text-danger';
                    let like = true
                    const save_req = await fetch(`/dashboard/like`, {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            data: { like, tweet_id }
                        })
                    });
                    var resSave = await save_req.json();
                    if (resSave.flag == true) {
                        let likeSpan = document.querySelector("#like" + tweet_id)
                        likeSpan.innerHTML = resSave.alllikecount
                    }
                }
                else if (t_id.classList.value == 'fa-solid fa-heart text-danger') {
                    t_id.classList.value = 'fa-regular fa-heart'
                    let like = false;
                    const save_req = await fetch(`/dashboard/like`, {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            data: { like, tweet_id }
                        })
                    });
                    var resSave = await save_req.json();
                    if (resSave.flag == false) {
                        let likeSpan = document.querySelector("#like" + tweet_id)
                        likeSpan.innerHTML = resSave.alllikecount
                    }
                    if (resSave.flag == true) {
                        let likeSpan = document.querySelector("#like" + tweet_id)
                        likeSpan.innerHTML = resSave.alllikecount
                    }
                }
            }

            var userLike = [];
            '<%for(let i=0;i<arrlikeid.length;i++){%>'
            userLike.push('<%=arrlikeid[i]%>');
            '<%}%>'
            userLike.forEach(element => {

                document.getElementById(element).classList = "fa-solid fa-heart text-danger";
            });

            async function retweetpost(e, t_id) {
                e.stopPropagation();
                let temp = t_id.id
                let id = temp.slice(1);
                let tweet_id = parseInt(id)
                if (t_id.classList.value == 'fa-solid fa-retweet') {
                    t_id.classList.value = 'fa-solid fa-retweet text-success';
                    let retweet = true
                    const save_req = await fetch(`/dashboard/retweet`, {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            data: { retweet, tweet_id }
                        })
                    });
                    var resSave = await save_req.json();
                    if (resSave.flag == true) {
                        let retweetSpan = document.querySelector("#retweet" + tweet_id)
                        retweetSpan.innerHTML = resSave.allretweetcount
                    }
                }
                else if (t_id.classList.value == 'fa-solid fa-retweet text-success') {
                    t_id.classList.value = 'fa-solid fa-retweet'
                    let retweet = false;
                    const save_req = await fetch(`/dashboard/retweet`, {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            data: { retweet, tweet_id }
                        })
                    });
                    var resSave = await save_req.json();
                    if (resSave.flag == false) {

                        let retweetSpan = document.querySelector("#retweet" + tweet_id)
                        retweetSpan.innerHTML = resSave.allretweetcount


                    }
                    if (resSave.flag == true) {
                        let retweetSpan = document.querySelector("#retweet" + tweet_id)
                        retweetSpan.innerHTML = resSave.allretweetcount
                    }
                }
            }

            var userretweet = [];
            '<%for(let i=0;i<arrretweetid.length;i++){%>'
            userretweet.push('<%=arrretweetid[i]%>');
            '<%}%>'
            userretweet.forEach(element => {

                document.getElementById("k" + element).classList = "fa-solid fa-retweet text-success";
            });

            //set title
            let tweetUser = `<%= tweet_data.user_name %>`
            let tweetTMP = document.querySelector("#curTweet").innerText;
            document.querySelector("title").innerHTML = '@' + tweetUser + ' | ' + tweetTMP.substring(0, 10) + "...";
        </script>
        <%- include("search") -%>