<%- include("menu") -%>
    <%- include("add_comment") -%>

        <!-- main panel  -->
        <div class="col-6 px-0 border">
            <div class="inner-main commentInfo ">
                <div class="blur-ui p-3">
                    <div class="d-flex align-items-center my-2">
                        <a href="/dashboard" class="fa-solid fa-arrow-left-long text-dark d-inline-block me-3 "></a>
                        <h5 class="text-black d-inline-block mb-0">Tweet</h5>
                    </div>

                </div>

                <div class="tab-content">
                    <div id="for-you" class="tab-pane active">
                        <div class="tweet-container all-center">
                            <div class="tweet w-100 p-3 row pt-4 border-bottom border-top">
                                <div class="col-1 p-0">
                                    <img src="<%= tweet_data.user_image %>" alt="" class="profile-size me-2 border">
                                </div>
                                <div class="col-10 px-4">
                                    <div class="d-flex align-items-center user-info">
                                        <span class="text-black fs-16 me-1 fw-600">
                                            <%= tweet_data.name %>
                                        </span>
                                    </div>
                                    <span class="fs-16 text-gray me-1">
                                        @<%= tweet_data.user_name %>
                                    </span>
                                </div>
                                <div class="col-1 ">
                                    <a href="" class="text-dark" data-bs-toggle="dropdown" aria-expanded="false"> •••
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="d-flex">
                                            <a class="dropdown-item" href="#"><i class="fa-solid fa-user-plus me-2"></i>
                                                Follow <span class="text-blue">@<%= tweet_data.user_name %></span>

                                            </a>
                                        </li>


                                        <li class="d-flex">
                                            <a class="dropdown-item" href="#"><i
                                                    class="fa-solid fa-user-minus me-2"></i>
                                                Unfollow <span class="text-blue">@<%= tweet_data.user_name %></span>

                                            </a>
                                        </li>

                                        <li class="d-flex">
                                            <a class="dropdown-item" href="#"><i class="fa-regular fa-eye me-2"></i>
                                                Visit
                                                profile <span class="text-blue">@<%= tweet_data.user_name %></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-12 py-3 p-0">
                                    <div class="tweet-content">
                                        <p class="text-black fs-16 fw-300 word-wrap">
                                            <%= tweet_data.tweet %>
                                        </p>
                                    </div>
                                    <% if(tweet_data.media_type.includes("image") ){ %>
                                        <div class="tweet-img-container">
                                            <img src="<%= tweet_data.media_url %>" alt="" class="w-100">
                                        </div>
                                        <% }else if(tweet_data.media_type.includes("video") ){ %>
                                            <div class="tweet-video-container">
                                                <video controls loop autoplay>
                                                    <source src="<%= tweet_data.media_url %>" type="video/mp4">
                                                </video>
                                            </div>
                                            <% } %>
                                                <div class="text-gray py-2 border-bottom" title="">
                                                    <%= post_date[0] %>
                                                </div>
                                                <div class="text-gray py-2 border-bottom">
                                                    <p class="d-inline-block me-3 mb-0"><span class="text-dark fw-600">
                                                            <%= tweet_data.tweet_retweets %>
                                                        </span> retweets</p>
                                                    <p class="d-inline-block mb-0"><span class="text-dark fw-600">
                                                            <%= tweet_data.tweet_likes %>
                                                        </span> likes</p>

                                                </div>

                                                <div class="tweet-reactions-container py-2 border-bottom">
                                                    <ul class="list-unstyled row my-0">
                                                        <li class="col">
                                                            <a href="" class="comment clickComment"
                                                                data-bs-toggle="modal" data-bs-target="#commentModal"
                                                                data-id="<%= tweet_data.id %>" id="clickComment">
                                                                <i class="fa-regular fa-comment"></i>
                                                            </a>
                                                        </li>
                                                        <li class="col">
                                                            <a href="" class="retweet">
                                                                <i class="fa-solid fa-retweet"></i>
                                                            </a>
                                                        </li>
                                                        <li class="col">
                                                            <a href="" class="like">
                                                                <i class="fa-regular fa-heart"></i>
                                                            </a>
                                                        </li>
                                                        <li class="col">
                                                            <a href="" class="chart">
                                                                <i class="fa-solid fa-chart-simple"></i>
                                                            </a>
                                                        </li>
                                                        <li class="col">
                                                            <a href="" class="share">
                                                                <i class="fa-solid fa-arrow-up-from-bracket"></i>

                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <!-- comments  -->
                                                <div class="comments py-3" id="commentSection">
                                                    <% if(comments.length <=0){ %>
                                                        <span class="d-inline-block mt-2 text-secondary">No Comments
                                                            yet.</span>
                                                        <% }else{ %>
                                                            <% comments.forEach((c,i)=>{ %>
                                                                <div class="comment row border py-2">
                                                                    <div class="col-1">
                                                                        <img src="<%= c.user_image %>" alt=""
                                                                            class="profile-size me-2 border">
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div
                                                                            class="d-flex align-items-center user-info">
                                                                            <span class="text-black fs-16 me-1 fw-600">
                                                                                <%= c.name %>
                                                                            </span>
                                                                            <span class="fs-16 text-gray me-1">
                                                                                @<%= c.user_name %>
                                                                            </span>
                                                                            <i
                                                                                class="fa-solid fa-circle bottom-dots fs-16 text-gray me-1"></i>
                                                                            <span class="date fs-16 me-1 text-gray">
                                                                                <%= comment_at[i] %>
                                                                            </span>
                                                                        </div>
                                                                        <div class="sub-info">
                                                                            <p class="text-gray fs-16 fw-300 mb-0">
                                                                                replying to <span class="text-blue">
                                                                                    @<%= tweet_data.user_name %></span>
                                                                            </p>
                                                                            <!-- </a> -->
                                                                            <p class="coemment-i mb-0 word-wrap">
                                                                                <%= c.comment %>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-1">
                                                                        <a href="" class="text-dark"
                                                                            data-bs-toggle="dropdown"
                                                                            aria-expanded="false"> ••• </a>
                                                                        <ul class="dropdown-menu">
                                                                            <li class="d-flex">
                                                                                <a class="dropdown-item" href="#"><i
                                                                                        class="fa-solid fa-user-plus me-2"></i>
                                                                                    Follow
                                                                                    <span class="text-blue">@<%=
                                                                                            c.user_name %>
                                                                                    </span>

                                                                                </a>
                                                                            </li>


                                                                            <li class="d-flex">
                                                                                <a class="dropdown-item" href="#"><i
                                                                                        class="fa-solid fa-user-minus me-2"></i>
                                                                                    Unfollow <span class="text-blue">@
                                                                                        <%= c.user_name %>
                                                                                    </span>

                                                                                </a>
                                                                            </li>

                                                                            <li class="d-flex">
                                                                                <a class="dropdown-item" href="#"><i
                                                                                        class="fa-regular fa-eye me-2"></i>
                                                                                    Visit
                                                                                    profile <span class="text-blue">@<%=
                                                                                            c.user_name %></span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <% }) } %>
                                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="following-home" class="tab-pane container">
                        Part2
                    </div>
                </div>
            </div>
        </div>

        <script>
            let linkModal = document.querySelector("#clickComment");
            linkModal.addEventListener("click", (e) => {
                let id = e.currentTarget.getAttribute("data-id");
                document.querySelector(".modal-body #tweetId").value = id;
            })

            let form = document.querySelector('#addCommentForm')
            form.addEventListener('submit', async (e) => {
                e.preventDefault();
                let data = await fetch(`/tweet/tweet_comment`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        tweetId: document.querySelector("#tweetId").value,
                        comment_text: document.querySelector("#comment_area").value
                    })
                })

                let ans = await data.json();

                allComments = ans.all_comments;
                allCommentsLen = ans.len;
                allCommentAt = ans.comment_at;
                console.log(allCommentAt);
                var comment_section = document.querySelector("#commentSection");

                if (allComments.length <= 0) {
                    comment_section.innerHTML = `<span class="d-inline-block mt-2 text-secondary">No Comments yet.</span>`;
                }
                else {
                    let comment_data = ""
                    for (let i = 0; i < allComments.length; i++) {
                        comment_data +=
                            `<div class="comment row border py-2">
                                                                    <div class="col-1">
                                                                        <img src="${allComments[i].user_image}" alt=""
                                                                            class="profile-size me-2 border">
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div
                                                                            class="d-flex align-items-center user-info">
                                                                            <span class="text-black fs-16 me-1 fw-600">
                                                                                ${allComments[i].name}
                                                                            </span>
                                                                            <span class="fs-16 text-gray me-1">
                                                                                @${allComments[i].user_name}
                                                                            </span>
                                                                            <i
                                                                                class="fa-solid fa-circle bottom-dots fs-16 text-gray me-1"></i>
                                                                            <span class="date fs-16 me-1 text-gray">
                                                                               ${allCommentAt[i]}
                                                                            </span>
                                                                        </div>
                                                                        <div class="sub-info">
                                                                            <p class="text-gray fs-16 fw-300 mb-0">
                                                                                replying to <span class="text-blue">
                                                                                    @<%= tweet_data.user_name %></span>
                                                                            </p>
                                                                            <!-- </a> -->
                                                                            <p class="coemment-i mb-0">
                                                                                ${allComments[i].comment}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-1">
                                                                        <a href="" class="text-dark"
                                                                            data-bs-toggle="dropdown"
                                                                            aria-expanded="false"> ••• </a>
                                                                        <ul class="dropdown-menu">
                                                                            <li class="d-flex">
                                                                                <a class="dropdown-item" href="#"><i
                                                                                        class="fa-solid fa-user-plus me-2"></i>
                                                                                    Follow
                                                                                    <span class="text-blue">@${allComments[i].user_name}
                                                                                             
                                                                                    </span>

                                                                                </a>
                                                                            </li>


                                                                            <li class="d-flex">
                                                                                <a class="dropdown-item" href="#"><i
                                                                                        class="fa-solid fa-user-minus me-2"></i>
                                                                                    Unfollow <span class="text-blue">@
                                                                                        ${allComments[i].user_name}</span>

                                                                                </a>
                                                                            </li>

                                                                            <li class="d-flex">
                                                                                <a class="dropdown-item" href="#"><i
                                                                                        class="fa-regular fa-eye me-2"></i>
                                                                                    Visit
                                                                                    profile <span class="text-blue">@${allComments[i].user_name}</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>`;
                    }

                    comment_section.innerHTML = comment_data;
                }

            })


        </script>
        <%- include("search") -%>